* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #18bc9c;
    --deep-blue: #2c3e50;
    --dark-blue: #212529;
    --font-white: #ffffff;
    --font-monserrat: 'Montserrat', sans-serif;
    --font-lato: 'Lato', sans-serif;
  }

  header {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    background-color: var(--deep-blue);
    color: var(--font-white);
    font-family: var(--font-monserrat);
    font-size: 13px;
    font-weight: bold;
    padding-left: 120px;
  }

  nav {
    margin-left: 500px;
  }

   ul {
    list-style-type: none;
    text-align: center;
   }

   li {
    display: inline;
    margin-right: 10px;
    font-family: var(--font-monserrat);
    font-size: 15px;
    font-weight: bold;
   }

  #start {
    background-color: var(--green);
    color: var(--font-white);
    text-align: center;
    font-family: var(--font-lato);
  }

 footer {
    background-color: var(--deep-blue);
    color: var(--font-white);
  }

#worker {
  max-width: 220px;
  padding-top: 100px;
}

#main-title {
  font-family: var(--font-monserrat);
  font-size: 60px;
}

#title-two {
  font-family: var(--font-lato);
}
