* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #18bc9c;
    --deep-blue: #2c3e50;
    --dark-blue: #212529;
    --font-white: #ffffff;
    --font-monserrat: 'Montserrat', sans-serif;
    --font-lato: 'Lato', sans-serif;
  }

  header {
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    background-color: var(--deep-blue);
    color: var(--font-white);
    font-family: var(--font-monserrat);
    font-size: 13px;
    font-weight: bold;
    padding-left: 120px;
  }

  nav {
    margin-left: 500px;
  }

   ul {
    list-style-type: none;
    text-align: center;
   }

   li {
    display: inline;
    margin-right: 10px;
    font-family: var(--font-monserrat);
    font-size: 15px;
    font-weight: bold;
   }

  #start {
    background-color: var(--green);
    color: var(--font-white);
    text-align: center;
    font-family: var(--font-lato);
    padding: 15px 0 100px 0;
  }

  #portfolio {
    background-color: #ffffff;
    padding-top: 60px;
    text-align: center;
    font-family: var(--font-monserrat);
    font-size: 30px;
  }

  div {
    /* display: flex; */
    /* justify-items: center;
    flex-wrap: wrap; */
    /* gap: 30px; */
    margin: 0 150px 0 200px;
  }

  .images {
    max-width: 320px;
    margin: 10px;
  }

 footer {
    background-color: var(--deep-blue);
    color: var(--font-white);
  }

#worker {
  max-width: 220px;
  padding-top: 100px;
  padding-bottom: 20px;
}

#main-title {
  font-family: var(--font-monserrat);
  font-size: 65px;
  padding-bottom: 20px;
}

#start-text {
  font-family: var(--font-lato);
  font-size: 25px;
  padding-top: 15px;
}
